.info article,.contact {
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 20px 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color:white;
    margin: 0;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header nav ul li {
    margin: 0 20px;
    font-weight: bolder;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.journey {
    background-image: url("https://img.freepik.com/premium-photo/glowing-advertisement-signs-billboards-city-with-light-reflection-wet-street_163855-226.jpg?w=2000");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: 3.5%;
    font-size: larger
}

.journey h2 {
    padding: 40px;
    text-align: right;
    color: white;
}

.info article {
    color: #445877;
    border-left: 6px solid #445877;
}

.contact ul {
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px;
    border-left: 6px solid #445877;

}

.contact ul a {
    border-bottom: 2px solid #445877;
    padding: 2px;

}
head {
    color: white;
}
::backdrop {
    color: aquamarine;
}